# OPENCODE -- NÃO É OBRIGATÓRIO
OPENAI_COMPATIBLE_API_KEY=sk-123 
OPENAI_COMPATIBLE_BASE_URL=https://opencode.ai/zen/go/v1

# PROMPT MANAGER SERVE
PROMPT_DIR=src/agents/prompts
MAX_PROMPT_SIZE=100_000
PROMPT_MANAGER_PORT=5000

FLASK_SECRET_KEY=abc123